@import '@/assets/sass/variables';

.h1 {
  font-family: $libre;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 3.2rem;
  margin-top: 0;
}

.h2 {
  font-family: $libre;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 0;
}