@import '@/assets/sass/variables';

.h1 {
  font-family: $libre;
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: -0.32px;
  line-height: 3.2rem;
  margin-top: 0;
}

.h2 {
  font-family: $libre;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 2.4rem;
  margin-top: 0;
}

.h3 {
  font-family: $libre;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.4rem;
  margin-top: 0;
}

.body {
  font-family: $libre;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.08px;
  line-height: 2.4rem;
  margin-top: 0;
}