$white: #fff;
$black: #000;

$primary: #448AFF;
$secondary: #ccc;

$surface: #FBFBFB;

// font-family;
$libre: 'Libre Franklin', sans-serif;

// breakpoints
$bp-xs: 0;
$bp-sm: 321px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1440px;